.favorite-btn {
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  font-size: 13px;
  -webkit-box-shadow: 0px 0px 22px 5px #e2730999;
  -moz-box-shadow: 0px 0px 22px 5px #e2730999;
  box-shadow: 0px 0px 22px 5px #e2730999;
}
.favorite-btn:hover {
  background-color: #aebfc8;
}
.card .card-body a {
  text-decoration: none;
}
.card .card-body h5:hover {
  color: #01b4e4;
}
.movie-modal {
  max-width: max-content;
}
.modal-content {
  background-color: black;
  color: white;
}
.fonts-content {
  display: flex;
  justify-content: center;
}
button.btn-close {
  border-radius: 24px;
  background-color: white;
  font-size: 12px;
}
span.btn-reporudcir {
  background-color: #000000a3;
  padding: 4px;
  border-radius: 8px;
}
span.btn-reporudcir span {
  color: rgb(181, 109, 33);
}
span.btn-reporudcir:hover {
  cursor: pointer;
  box-shadow: 0px -2px 10px #e87820;
}
.registrar {
  color: #01b4e4;
}
.registrar:hover {
  font-weight: 900;
  color: #0983a5;
  cursor: pointer;
}
.fonts {
  background-color: #1c2023;
}
.card {
  background-color: transparent;
  color: white;
  border: none;
}
* {
  color: white;
}
.btn-bg-color {
  background-color: #e87820;
  color: white;
}
.btn-bg-color:hover {
  filter: brightness(0.5);
  background-color: #e87820;
  color: white;
}
/* .initHeigth {
  height: 77vh;
} */

@media only screen and (max-width: 600px) {
}
/* style={{ backgroundImage: `url(https://image.tmdb.org/t/p/w500/${movie.poster_path})` }}  */
/* .section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right -200px top;
} */
/* background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) 150px, rgba(31.5, 31.5, 31.5, 0.84) 100%); */
